<form [formGroup]="goodForm" (ngSubmit)="onSave()">
    <label>Name:
      <input type="text" formControlName="name">
    </label>
    <br />
  
    <label>Location:
      <input type="text" formControlName="location">
    </label>
    <br />
  
    <label>Quantity:
      <input type="number" formControlName="quantity">
    </label>
    <br />
  
    <label>Date Stored:
      <input type="date" formControlName="dateStored">
    </label>
    <br />
  
    <label>Best Before:
      <input type="date" formControlName="bestBefore">
    </label>
    <br />
  
    <label>Icon:
      <input type="text" formControlName="icon">
    </label>
    <br />
  
    <button type="submit">Save</button>
    <button type="button" (click)="onDelete()">Delete</button>
  </form>
  